/*Tag based changes*/
* {
  color: #000000;
  background-color: #ffffff;
}

body {
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 65px;
  font-family: Copperplate, Papyrus, fantasy;
}

h2 {
  color: #5e1bd1;
  margin-left: 2.5%;
}

hr {
  color: #ebd45e;
}

img {
  margin-left: 2.5%;
}

p {
  margin: 10px;
  margin-left: 2.5%;
  font-size: 20px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #ebd45e;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  background-color: #ebd45e;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #5e1bd1;
  color: #ebd45e;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: #ebd45e;
}
/* Change h1*/
/* Change h2*/
/* Change my Introduction*/
/*Change my Skills */
/*Changein  my Skills blablabla*/
/*Change my Skills */
/*Change Footer */
